<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "banner.jpg"%>)'>
  <div class="container">
    <div class="accroche">
    <h1>Débordé ?</h1>
    <br>
    <h1>MLCI s'occupe de votre gestion administrative</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">

    <% @services.each do |service| %>
      <div class="card">
        <div class="card-img">
        <% if service.photo.attached? %>
          <%= cl_image_tag service.photo.key %>
        <% end %>
        </div>
        <div class="card-title">
          <h3 class= "servicetitle"> <%= service.name.capitalize %></h3>
          <p> <%= service.description %></p>
        </div>
        <div class="linkservice" ><a href="services#service-<%= service.id %>">En savoir plus</a></div>
      </div>
    <% end %>

    

  </div>
</div>

<%# <div class="wrapper">
  <div class="tile job-bucket">
    <div class="front">
      <div class="contents"> %>
       <%#= image_tag "compta.jpg", class:"logo" %>
        <%# <h3>Comptabilité</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <br>
        <a href="#">En savoir plus</a>
      </div>
    </div>
    <div class="back">
      <a href="#">En savoir plus</a>
    </div>
  </div>
</div> %>