<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "banner.jpg"%>)'>
  <div class="container">
    <div class="accroche">
    <h1>Débordé ?</h1>
    <br>
    <h1>MLCI s'occupe de votre gestion administrative</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">

    <% @services.each do |service| %>
      <%= link_to services_path, data: { turbolinks: 'false' }, target: "_blank" do %>
      <div class="card">
        <div class="card-img">
        <% if service.photo.attached? %>
          <%= cl_image_tag service.photo.key %>
        <% end %>
        </div>
        <div class="card-title">
          <h3 class= "servicetitle"> <%= service.name.capitalize %></h3>
          <p> <%= service.description %>.</p>
        </div>
        
        <div class="linkservice" ><%= link_to 'En savoir plus', services_path(anchor: "service-#{service.id}"), target: "_blank" %></div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
