<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "banner.jpg"%>)'>
  <div class="container">
    <div class="accroche">
    <h1>Débordé ?</h1>
    <br>
    <h2>MLCI s'occupe de votre gestion administrative</h2>
    <br>
    <br>
    <h2 class="fade-in word-move" id="banner-typed-text">AGILITE</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">

    <% @services.each do |service| %>
      <%= link_to services_path(anchor: "service-#{service.id}"), data: { turbolinks: 'false' } do %>
      <div class="card">
        <div class="card-img">
        <% if service.photo.attached? %>
          <%= cl_image_tag service.photo.key %>
        <% end %>
        </div>
        <div class="card-title">
          <h3 class= "servicetitle"> <%= service.name.capitalize %></h3>
          <p><%= service.description %>.</p>
        </div>
        <div class="linkservice" ><%= link_to 'En savoir plus', services_path(anchor: "service-#{service.id}") %></div>
      </div>
    <% end %>
    <% end %>
  </div>

  <div class="customers">
    <div class="servpagetitle cust-title"><h2><strong>Ils nous font confiance</strong></h2></div>
    <div class="custom-logo">
      <a href="https://itsara-conseil.com", target="_blank"><%= image_tag "itsara_logo.png", class:"logo_itsara"%></a>
      <a href="https://g.page/technique-autos-services?share", target="_blank"><%= image_tag "auto_logo.png", class:"logo_auto" %></a>
    </div>
  <br>
  </div>



</div>
